

/* position absolute icons */
.minimizeArrow {
    position: absolute;
    bottom: 5px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.minimizeArrow>i {
    font-size: 2rem;
}

.editPencil {
    right: 20px;
    font-size: 1.5rem;
    background-color: #fff;
    padding: 7px;
    z-index: 1;
}

/* image gallery carousel style */
.imgGalleryCarousel {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
}

.imgGalleryCarouselActive {
    border: 4px solid #507598;
}

/* CardPenRejAnnouncementReducedForm edit modal*/
.announcementEditModal {
    background: linear-gradient(to bottom, #333, #2a606c);
}

.trashButtonImage {
    height: 50px;
    width: 50px;
    border-radius: 28px;
    font-size: 23px;
    box-shadow: 1px 1px 6px lightgray;
}

.trashButtonImage:hover {
    box-shadow: none;
}

/* input type=file */
.myInputFile {
    background: linear-gradient(to top, #2a606c, #42727c);
    border-radius: 10px;
}

input[type='file'] button {
    background-color: red;
}

/* input form.control */
.form-control {
    border-radius: 20px;
    font-weight: 700;
    padding: 6px 20px;
    color: #444;
}

.form-label {
    font-weight: 400;
    font-size: 1.2rem;
}