/* position absolute icons */
.minimizeArrow {
    position: absolute;
    bottom: 5px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.minimizeArrow>i {
    font-size: 2rem;
}

.editPencil {
    right: 20px;
    font-size: 1.5rem;
    background-color: #fff;
    padding: 7px;
    z-index: 1;
}

/* image gallery carousel style */
.imgGalleryCarousel {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
}

.imgGalleryCarouselActive {
    border: 4px solid #507598;
}

/* CardPenRejAnnouncementReducedForm edit modal*/
.announcementEditModal {
    background: linear-gradient(to bottom, #333, #2a606c);
}

.trashButtonImage {
    height: 50px;
    width: 50px;
    border-radius: 28px;
    font-size: 23px;
    box-shadow: 1px 1px 4px lightgray;
}

.trashButtonImage:hover {
    box-shadow: none;
}

/* input type=file */
.myInputFile {
    background: linear-gradient(to top, #2a606c, #42727c);
    border-radius: 10px;
}

/* input form.control */
.form-control {
    border-radius: 20px;
    font-weight: 700;
    padding: 6px 20px;
    color: #444;
}

.form-label {
    font-weight: 400;
    font-size: 1.2rem;
}

/* botstrap dropdown custom */
.dropdown-menu.show {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    padding: 15px;
    margin: 15px 0;
    justify-content: center;
}

/* categories border active */
.myBorderAcqua {
    border: 3px solid #14a7ad
}

.myBorderRed {
    border: 3px solid #d21b4c
}

.borderActive {
    border: 3px solid #2a606c
}

/* Distribution area plus and trash button */
.plusDistributionArea {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.disabledPlus, .disabledPlus > .plusDistributionArea{
    pointer-events: none;
    opacity: 0.7;
    color: #8f8f8f !important;
}

.distAreaCountry>i {
    font-size: 0%;
    transition: font-size .2s ease-in-out .05s;
}

.distAreaCountry:hover>i {
    font-size: 100%;
}

/* sign in form - deler/manufacturer selector */
.delManSelector {
    border: 4px solid #6c757d;
}

.delManSelectorActive {
    border: 4px solid #14a7ad;
    background-color: #333 !important;
}

.delManSelector>i {
    display: none;
}

.delManSelectorActive>i {
    top: -18px;
    left: -18px;
    color: #14a7ad;
    font-size: 1.8rem;
}

/* sign in form - progress bar */
.progressStepBar>div:first-child {
    width: 215px;
}

.progressStepBar>div:first-child>div {
    height: 15px;
    width: 15px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgb(180, 180, 180);
    z-index: 1;
}

.progressStepBar>div:first-child>.active {
    background-color: #14a7ad;
}

.progressStepBar>div:last-child {
    height: 5px;
    width: 200px;
    z-index: 2;
}

.progressStepBar>div:nth-child(2) {
    height: 7px;
    width: 200px;
    border: 1px solid rgb(180, 180, 180);
}

/* dropdown menu bootstrap */
.dropdown-menu.show {
    height: 400px;
    overflow-y: scroll;
}