:root{
    --bluPetrol: #2a606c;
    --fucsiaRed: #E52C5D;
    --chatColor: #90d800; 
    --yellowOrange: #f0bd35;
    --tiffany: #14a7ad;
    --lightGray: #d2d2d2;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

.myCursor {
    cursor: pointer;
}

.myZindex2 {
    z-index: 2;
}


/* height */
.myMinVh100 {
    min-height: calc(100vh - 59px);
}
.myMaxVh100 {
    max-height: calc(100vh - 59px);
}
.myVh100 {
    height: calc(100vh - 61px);
}
.myVhChat {
    height: calc(86vh - 61px);
}
.myVh70 {
    height: calc(57vh);
}

.myMaxH300 {
    max-height: 300px !important;
}

.myMaxH500 {
    max-height: 500px !important;
}

/* width */
.myW9 {
    width: 90%;
}

/* height & width */
.mySquare80 {
    width: 80px;
    height: 80px;
}

/* min width */
.myMinW375 {
    min-width: 375px;
}

/* max width */
.myMaxW65 {
    max-width: 65px !important;
}

.myMaxW80 {
    max-width: 80px !important;
}

.myMaxW100 {
    max-width: 100px !important;
}

.myMaxW300 {
    max-width: 300px !important;
}

.myMaxW400 {
    max-width: 400px !important;
}

.myMaxW500 {
    max-width: 500px !important;
}

.myMaxW600 {
    max-width: 600px !important;
}

.myMaxW632 {
    max-width: 632px !important;
}

.myMaxW700 {
    max-width: 700px !important;
}

.myMaxW800 {
    max-width: 800px !important;
}

.myMaxW1000 {
    max-width: 1000px !important;
}

.myMaxW1200 {
    max-width: 1200px !important;
}
.myMaxW1400 {
    max-width: 1400px !important;
}

/* color */
.myPrimaryColor {
    color: var(--bluPetrol);
}
.myLightGrayColor {
    color: #dfdfdf;
}
.myFucsiaRed{
    color: var(--fucsiaRed);
}
.myChatColor{
    color: var(--chatColor);
}
.myYellowColor{
    color: var(--yellowOrange);
}
/* background color */

.myBgWhite {
    background-color: #fff;
}

.myBgAcqua {
    background-color: #14a7ad;
}

.myBgRed {
    background-color: #d21b4c;
}

.myBgDark{
    background-color: #222;
}
.myBgLightGray{
    background-color: var(--lightGray);
}
.myBgYellow{
    background-color: var(--yellowOrange);
}

.myBgPrimary{
    background-color: var(--bluPetrol);
}
.myBgFucsiaRed{
    background-color: var(--fucsiaRed);
}
.myBgChat{
    background-color: var(--chatColor);
}
.myMainGradient {
    background: linear-gradient(to bottom, #333, var(--bluPetrol));
}

.myBgTransparentHigh {
    background: #cfcfcfb8;
}

.myBgTransparentVeryHigh {
    background: #0f0f0fee;
}

/* background image */
.myBgImgContain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.myBgImgCover {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.myBgImgCover2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* icons font size */
.myIconLg {
    font-size: 50px;
}

/* font size */
.myFontSize5 {
    font-size: .5rem;
}

.myFontSize6 {
    font-size: .6rem;
}

.myFontSize12px {
    font-size: 12px;
}

/* text truncate and fading */
.line-clampUserName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100px;
    overflow: hidden;
    text-overflow:ellipsis;
    font-style: italic;
    font-weight: 200;
}

.line-clampBeta {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 700px) {
    .line-clampBeta {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* myGradients */
.myGradientFreely {
    background: linear-gradient(to top, #d08a6e 40%, #f2a080);
}

.myGradientWeekly {
    background: linear-gradient(to top, #3a7469 20%, #66cfbc);
}

.myGradientMonthly {
    background: linear-gradient(to top, #892060 20%, #e337a1);
}

.scoreBarLow {
    background: linear-gradient(to right, rgb(255, 60, 0) 10%, rgb(255, 225, 0));
}

.scoreBarMedium {
    background: linear-gradient(to right, rgb(255, 238, 0) 10%, rgb(140, 255, 0));
}

.scoreBarHigh {
    background: linear-gradient(to right, rgb(0, 255, 213) 10%, rgb(0, 147, 252));
}

.scoreBarLegend {
    background: linear-gradient(to right, rgb(255, 0, 217) 10%, rgb(181, 0, 252));
}

/* overflow y */
.myOverflowY {
    overflow-y: scroll;
}

.myOverflowYHidden {
    overflow-y: hidden;
}

.myOverFlowXHidden {
    overflow-x: hidden;
}

