h1,h2,h3,h4,h5,h6{
    margin: 0 !important;
}

.myCursor {
    cursor: pointer;
}

.myVh100 {
    min-height: calc(100vh - 59px);
}

/* height */
.myMaxH300{
    max-height: 300 !important;
}

/* width */
.myW9 {
    width: 90%;
}

/* max width */
.myMaxW300 {
    max-width: 300px !important;
}

.myMaxW400 {
    max-width: 400px !important;
}

.myMaxW500 {
    max-width: 500px !important;
}

.myMaxW700 {
    max-width: 700px !important;
}

.myMaxW1000 {
    max-width: 1000px !important;
}

.myMaxW1200 {
    max-width: 1200px !important;
}

/* background color */
.myLightGray {
    color: rgb(169, 169, 169);
}

.myBgWhite {
    background-color: #fff;
}

/* background image */
.myBgImgContain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

/* icons font size */
.myIconLg {
    font-size: 50px;
}