.portale{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 3;
    overflow: hidden; */
    text-overflow: ellipsis;
   
} 
.linkcreate{
    text-decoration: none;
    
}

.hoverCardStyle{
    transition: transform 0.2s;
    &:hover{
        transform: scale(1.1);
    }
}
.linkfree{
    text-decoration: none;
    
}
.nycd {
    font-family: 'Nothing You Could Do';
}
.termbg{
    background-image : url('https://png.pngtree.com/background/20210711/original/pngtree-original-line-style-elegant-dreamy-blue-background-blue-material-picture-image_1143636.jpg');
    background-size: cover;

}


