.myCursor{
    cursor: pointer;
}
.myVh100{
    min-height: calc(100vh - 59px);
}
.myW9{
    width: 90%;
}
.myMaxW500{
    max-width: 500px !important;
}
.myLightGray{
    color: rgb(169, 169, 169);
}
.myBgImgContain{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
/* icons font size */
.myIconLg{
    font-size: 50px;
}
/* background */
.myBgWhite{
    background-color: #fff;
}
